body {
}

.au-div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.au-form {
    width: 500px;
    height: 700px;
    border: 2px solid black;
}

    .au-form > .dx-row-lines {
        margin: 20px auto;
        width: 380px;
    }

.cust {
    background-color: #ff5722;
}

#submitButton {
    background-color: #c4151c;
    color: white;
}

.loginHeaderDiv {
    display: flex;
    justify-content: center;
}