@using ApexFuelApplication.Models

<h2>Home</h2>

@(Html.DevExtreme().DataGrid<CardsByCompany>()
    .ShowBorders(true)
    .DataSource(d => d.Mvc().Controller("SampleData").LoadAction("Get").Key("card_id"))
    .Columns(columns => {
        columns.AddFor(m => m.code).Caption("საწვავის კოდი");
        columns.AddFor(m => m.fuelname).Caption("საწვავის დასახელება").GroupIndex(0);
        columns.AddFor(m => m.rcount).Caption("ნაშთი");
    })
    .Selection(p => p.Mode(SelectionMode.Single))
    .Paging(p => p.PageSize(50))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .GroupPanel(p => p.Visible(true))
    .Grouping(g => { g.ContextMenuEnabled(true); g.ExpandMode(GridGroupingExpandMode.RowClick); g.AllowCollapsing(true); })
    .RemoteOperations(true)

)